* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #00154f;
    color: whitesmoke;
}

header .logo {
    color: #ecaf2b;
}

header div,
li {
    font-size: 1.1rem;
    padding-right: 20px;
    text-transform: uppercase;
}

header .links {
    display: flex;
}

ul li {
    letter-spacing: 1px;
    list-style-type: none;
    color: whitesmoke;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

header .links li:hover {
    color: #ecaf2b;
}

.genre-tags {
    padding: 10px;
    width: 50%;
    background-color: #00154f;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1px auto;
    transition: all 1s ease-in-out;
    border-radius: 5px;
}

.tag {
    text-align: center;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 500;
}

.hidden {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
}

.movie-card {
    width: 304px;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(28, 28, 28, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.movie-card img {
    width: 100%;
    height: 350px;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
}

.movie-info h3,
.rating {
    font-size: 1rem;
}

.rating {
    color: rgb(241, 47, 47);
    font-weight: bold;
}